@page
<div class="container">  
    <div class="row border">
        <div class="col-md-9 border-right">
            <div class="row">
                <div class="col-md-12">
                    <div class="row border-bottom">
                        <div class="col-md-12">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>                    
                    <div class="row">                        
                        <div class="col-md-12">                            
                            <input type="hidden" id="userInput" />      
                            <div class="col-md-1">Message</div>      
                            <div class="col-md-8">
                                 <input type="text" id="messageInput" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="sendButton" value="Send Message" />
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                            <label id="isTyping">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h3><span>You as <b><i><label id="lbluser"></label></b></i></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Active Users</h5>
                </div>
                <div class="col-md-12">                    
                    <div id="activeUserList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .green-message{
        color: green;
        background-color: lightgreen;
        margin-right: 25px !important;
    }
    .blue-message{
        color: blue;
        text-align: end;
        background-color: lightblue;
        margin-left: 25px !important;
    }
    #messagesList{
        height:500px;
        overflow: auto;
        padding:10px;
    }
    #messagesList{
        list-style: none;
    }
    #messagesList li {
        margin: 4px;
        padding: 4px 10px;
        border-radius: 15px;
        overflow-wrap: break-word;
    }
    #activeUserList{        
        overflow: auto;
        padding:10px;
        background-color: lightgray;
        height:460px;
    }
    #activeUserList ul {
        list-style: none; /* Remove default bullets */
    }

    #activeUserList ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: green; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */ 
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
    .border-right{
        border-right: 1px solid black;
    }
    .border-bottom{
        margin-bottom: 5px;
        border-bottom: 1px solid black;
    }
    .border{
        border: 2px solid black;
        padding :5px;
    }
    #messageInput{
        width:100%
    }
</style>
<script>    
    var person = prompt("*Please enter your name", "");
    if (person != null) {
        document.getElementById("userInput").value = person;
        document.getElementById("lbluser").innerText = person;
    }
</script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>